
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
}

body {
	background-color: #f5f5f5;
	text-align: center;
	/* font-family: 'Courier New', Courier, monospace; */
	/* font-size: medium; */
	/* font-weight: 900; */
	
}

header, .sidebar{
	background-color: #d9d9d9;
	display: flex;
}

h1{
	margin-top: 5px;
	background-color: #d9d9d9;
}

.wrapper{
	display: flex;
	flex-direction: row;
	border: 2px solid #021526;
}

main {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

header{
	height: 8%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1% 1%;
 }

.main {
	width: 100%;
	height: 91%;
	padding: 1%;
	display: flex;
	flex-direction: row;
}

.sidebar{
	width: 10%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

a {
	display: block;
	background-color: white;
	margin-top: 5px;
	color: black;
	width:  110px;
	height: 30px;
	border-radius: 25px;
	text-decoration: none;
 }

 .nav-btn {
	width: fit-content;
 }

 .search-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;

 }

#back{
	position: absolute;
	top: 1%;
	left: 1%;
	border-radius: 10%;
}

 table button{
	width: 100%;
	margin: 2% 2%;
	display: contents;
	justify-content: space-between;
	background-color: #5F6F65;
 }

 .user_table{
	margin-bottom: 5px;
	width: 80%;
	height: 85%;
	color: black;
	table-layout: fixed;
	min-width: 800px;

	td{
		background-color: #5F6F65;
		width: 10%;
		height: 4vh;
		vertical-align: middle;
	}
 }

 table tr{
	background-color: #d9d9d9;
	
 }
 
#calendar{
	width: 90%;
	height: 97%;
	background-color: #6482ad;
}


td button{
	display: inline;
	width: 58px;
	background-color: white;
	width: 10vw;
	border-radius: 5%;
}

.user_name , .user_email , .user_pwd , .user_confrm{
width: 100%;
color: #021526;
display: flex;
flex-direction: column;
text-align: left;
}
.create-btn{
	background-color: #5F6F65;
	color: white;
	margin-top: 10px;
}


/* calendar */

.fc {
	.fc-header-toolbar.fc-toolbar {
		margin: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	a {
		font-size: 24px;
	}
}
:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}

.fc .fc-col-header-cell-cushion {
    padding-top: 5px; /* Override */
    padding-bottom: 5px; /* Override */
}
