* {
	font-family: 'Courier New', Courier, monospace;
	font-size: medium;
	font-weight: 700;
}

body {
	background-color: #1a3636;
	color: #88dd66;
	text-align: center;
}
.sidebar{
	align-items: inherit;
	margin-left: 1vw;
}

 a {
	margin-top: 5px;
	color: black;
 }